.profile {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    align-items: center;
    cursor: pointer;

    img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    h4 {
        font-weight: 500;
        font-size: 15px;
        color: rgb(80, 80, 80);
        margin-left: 13px;
    }
}